<!-- <footer id="foot">
    Page footer
</footer> -->

<!-- footer of the page -->
<footer id="footer" class="bg-black" style="color: white; position: fixed;
right: 0;
bottom: 0;
left: 0;
padding: 1rem;
text-align: center;">
	<!-- footer aside of the page -->
	<!-- footer folder of the page -->
	<div class="footer-holder">
		<div class="container">
			<div class="row mar-bt">
                <div class="col-lg-12" style="text-align: center;">
					<h3 class="heading3">Developed By</h3>
					<!-- f nav of the page -->
					<ul class="list-unstyled f-nav">
						<li>Email: <a href="mailto:surajkumar54985@gmail.com">surajkumar54985@gmail.com</a></li>
						<li>Phone: <a href="tel:8209125863">+91 8209125863</a></li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
</footer>

