#post{
    margin-top: -2.25rem;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: rgb(114, 65, 112);
    #feed-posts{
        height: auto;
        #posts-list-container{
            font-size: xx-large;
            font-weight: 800;
        }
    }
}

