body {
  width: 100%;
  height: 15rem;
  margin-top: 25rem;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

#foot {
  margin-top: 30rem;
  width: 100%;
  height: auto;
  background-color: #09dd96;
}

#head {
  width: 100%;
  height: auto;
  background-color: blueviolet;
}

li {
  display: inline;
  text-decoration: none;
  margin: 4px 16px 16px 4px;
}
